.both{
    .cart{
        width: 50%;
        float: left;
        .left{
            .left-top{
                display: flex;
                h1{
                    padding-left: 70px;
                    padding-top: 70px;
                    color: #000;
                    font-family: Gotham;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 28px;
                }
                .btn{
                    margin-top: 70px;
                    margin-left: 170px;
                    
                   button{
                    border-radius: 4px;
                    border: 1px solid var(--text-default-textfield, #CACCCF);
                    background: var(--White, #FFF);
                    display: inline-flex;
                    padding: 7px 15px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;        
                    }
                }
            }
            .left-content{
        
                padding-left: 65px;
                padding-top: 20px;
                width: 400px;
                height: 200px;
                flex-shrink: 0;
               
                .left-content-inside{
                    .cards{
                        display: flex;
                        padding: 20px;
                        padding-top: 30px;
                        padding-bottom:30px;
                        background: var(--white, #FFF);
                        border-radius: 10px;
                        border: none;
                        width: 470px;
                        margin-bottom: 30px;
                        height: 170px;
                     
                         .card-main{
                             .title{
                                 margin-top: -105px;
                                 margin-left: 120px;
                                 color: #08316D;
                                 font-family: Gotham;
                                 font-size: 16px;
                                 font-style: normal;
                                 font-weight: 700;
                                 line-height: 18px;
                                 img{
                                    width: 13px;
                                    height: 13px;
                                 }
                             }
                             .para{
                                 width: 300px;
                                 margin-top: 10px;
                                 margin-left: 120px;
                                 color: var(--grayscale-g-2, #7C7C7C);
                                 font-size: 16px;
                                 font-style: normal;
                                 font-weight: 325;
                                 line-height: 18px; 
                             }
                             .price{
                                margin-top: -20px;
                                padding-left: 150px;
                                color: #08316D;
                                font-family: Gotham;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 20px;
                            }
                             .original{
                                 display: flex;
                                 gap: 12px;
                                 padding-top: 10px;
                                padding-left: 120px;
                                .sugar{
                                 display: flex;
                                 padding: 6px 8px;
                                 justify-content: center;
                                 align-items: center;
                                 gap: 10px;
                                border-radius: 4px;
                                 background: #FFF1CF;
                                 h5{
                                     color: #C18F13;
                                     /* Caption */
                                     font-family: Gotham;
                                     font-size: 14px;
                                     font-style: normal;
                                     font-weight: 325;
                                     line-height: 16px;
                                 }
                                }
                             }
                             .maths{
                                 display: flex;
                                 padding-left: 350px;
                                 margin-top: -20px;
                                h4{
                                 background-color: #08316D;
                                 padding: 2px 4px;
                                 color: white;
                                }
                                .minus{
                                 margin-right: 5px;
                                 display: flex;
                                 width: 19px;
                                 height: 20px;
                                 padding: 2px 2px;
                                 justify-content: center;
                                 align-items: center;
                                 gap: 8px;
                                 color: var(--text-primary, #25282B);
                                 font-size: 19px;
                                 font-style: normal;
                                 font-weight: 400;
                                 line-height: 16px;
                                }
                                .plus{
                                 margin-left: 5px;
                                 display: flex;
                                 width: 19px;
                                 height: 20px;
                                 padding: 2px 2px;
                                 justify-content: center;
                                 align-items: center;
                                 gap: 8px;
                                 color: var(--text-primary, #25282B);
                                 font-size: 19px;
                                 font-style: normal;
                                 font-weight: 400;
                                 line-height: 16px;
                                }
                                .count{
                                 background-color: #08316D;
                                 display: flex;
                                 width: 19px;
                                 height: 20px;
                                 padding: 2px 2px;
                                 justify-content: center;
                                 align-items: center;
                                 gap: 8px;
                                 color: var(--white, #FFF);
                                 font-size: 14px;
                                 font-style: normal;
                                 font-weight: 700;
                                 line-height: 10px;
                                }
                             }
                         }
                     }
                }
            }
            .left-content-shallots{
                p{
                    padding-bottom: 30px;
                    color: #08316D;
                    font-family: Gotham;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 20px;
                }
                margin-top: 200px;
                padding-left: 65px;
                padding-top: 20px;
                width: 400px;
                height: 200px;
                flex-shrink: 0;
                .left-content-inside{
                    .cards{
                        display: flex;
                        padding: 20px;
                        padding-top: 30px;
                        padding-bottom:30px;
                        background: var(--white, #FFF);
                        border-radius: 10px;
                        border: none;
                        width: 470px;
                        margin-bottom: 30px;
                        height: 170px;
                     
                         .card-main{
                             .title{
                                 margin-top: -105px;
                                 margin-left: 120px;
                                 color: #08316D;
                                 font-family: Gotham;
                                 font-size: 16px;
                                 font-style: normal;
                                 font-weight: 700;
                                 line-height: 18px;
                                 img{
                                    width: 13px;
                                    height: 13px;
                                 }
                             }
                             .para{
                                 width: 300px;
                                 margin-top: 10px;
                                 margin-left: 120px;
                                 color: var(--grayscale-g-2, #7C7C7C);
                                 font-size: 16px;
                                 font-style: normal;
                                 font-weight: 325;
                                 line-height: 18px; 
                             }
                             .price{
                                margin-top: -20px;
                                padding-left: 150px;
                                color: #08316D;
                                font-family: Gotham;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 20px;
                            }
                             .original{
                                 display: flex;
                                 gap: 12px;
                                 padding-top: 10px;
                                padding-left: 120px;
                                .sugar{
                                 display: flex;
                                 padding: 6px 8px;
                                 justify-content: center;
                                 align-items: center;
                                 gap: 10px;
                                border-radius: 4px;
                                 background: #FFF1CF;
                                 h5{
                                     color: #C18F13;
                                     /* Caption */
                                     font-family: Gotham;
                                     font-size: 14px;
                                     font-style: normal;
                                     font-weight: 325;
                                     line-height: 16px;
                                 }
                                }
                             }
                             .maths{
                                 display: flex;
                                 padding-left: 350px;
                                 margin-top: -20px;
                                h4{
                                 background-color: #08316D;
                                 padding: 2px 4px;
                                 color: white;
                                }
                                .minus{
                                 margin-right: 5px;
                                 display: flex;
                                 width: 19px;
                                 height: 20px;
                                 padding: 2px 2px;
                                 justify-content: center;
                                 align-items: center;
                                 gap: 8px;
                                 color: var(--text-primary, #25282B);
                                 font-size: 19px;
                                 font-style: normal;
                                 font-weight: 400;
                                 line-height: 16px;
                                }
                                .plus{
                                 margin-left: 5px;
                                 display: flex;
                                 width: 19px;
                                 height: 20px;
                                 padding: 2px 2px;
                                 justify-content: center;
                                 align-items: center;
                                 gap: 8px;
                                 color: var(--text-primary, #25282B);
                                 font-size: 19px;
                                 font-style: normal;
                                 font-weight: 400;
                                 line-height: 16px;
                                }
                                .count{
                                 background-color: #08316D;
                                 display: flex;
                                 width: 19px;
                                 height: 20px;
                                 padding: 2px 2px;
                                 justify-content: center;
                                 align-items: center;
                                 gap: 8px;
                                 color: var(--white, #FFF);
                                 font-size: 14px;
                                 font-style: normal;
                                 font-weight: 700;
                                 line-height: 10px;
                                }
                             }
                         }
                     }
                }
            }
        }
    }
    .price{
        padding-left: 50px;
        width: 50%;
        float: right;
    }
 
}
